<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-08-11T04:47:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lucas34990/swiftQ/SwiftQ/Example/SwiftQ.xcworkspace</string>
</dict>
</plist>
