name: Swift

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  DANGER:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1.117.0
      with:
        ruby-version: 3.1.2
    - name: Install blunder and install deps.
      run: |
        gem install bundler
        bundle install
    - name: Run danger
      run: |
        bundle exec danger
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  SPM:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3.0.2
    - name: Test
      run: swift test
  
  POD:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3.0.2
    - name: Lint
      run: pod lib lint
  
  CARTHAGE:

    runs-on: macOS-latest

    steps:
    - uses: maxim-lobanov/setup-xcode@v1.4.1
      with:
        xcode-version: latest-stable
    - uses: actions/checkout@v3.0.2
    - name: Build
      run: carthage build --no-skip-current --use-xcframeworks
    - name: Archive
      run: carthage archive
    - uses: actions/upload-artifact@v3.1.0
      with:
        name: SwiftQueue
        path: SwiftQueue.framework.zip

  XCODE:

    runs-on: macOS-latest

    steps:
    - uses: maxim-lobanov/setup-xcode@v1.4.1
      with:
        xcode-version: latest-stable
    - uses: actions/checkout@v3.0.2
    - name: Build
      run: xcodebuild -project "SwiftQueue.xcodeproj" -scheme "SwiftQueue macOS" -destination "arch=x86_64" -configuration Debug ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES test -enableCodeCoverage YES | xcpretty
    - uses: codecov/codecov-action@v3.1.1
